@import "tailwindcss";

@layer base {
  html, body {
    /* Mencegah scroll horizontal di semua perangkat */
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased text-gray-800 bg-white;
    /* Memastikan tidak ada margin bawaan browser */
    margin: 0;
    padding: 0;
  }
}

@layer components {
  .section-container {
    @apply container mx-auto px-4 md:px-6;
  }
}